<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-ceter mt-5">
                <div class="card-header text-center">
                    <h3>Sign In</h3>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img src="/img/logo.png" alt="logo fazt" class="card-img-top m-2 rounded-circle w-50">
                    </div>
                    <form action="/signin" method="post">
                        <div class="form-group mb-2">
                            <input type="text" name="username" placeholder="Username" class="form-control" autofocus>
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="password" placeholder="Password"
                            class="form-control">
                        </div>
                        <div class="form-group mb-2 d-grid gap-2"> 
                            <button class="btn btn-success btn-block">
                                Sign In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>